@media only screen and (max-width: 769px)  {
    body{
        
        height: 100vh;
        color:#fff;
    }
    .modalFlex {
        
        height: 100%;
    }
    .modal-content {
        width: 90%;
        height: 90%;
        background-color: rgb(0,0,0);
    }
    
    .nameContainer {
        height: 20%;
    }
    .modalName{
        -webkit-background-size:contain;
                background-size:contain;
        width:80%;
        margin:0 auto;
        height: 100%;
    }
    .modal_text{
      font-size: 3vh;
      color:#fff;
    }
    .direction{
        font-size:2.7vh;
        margin-top:0.4%;
        color:#fff;
    }
    .playerinput{
     width:100%;
     height: 30%;
     
    }
    .inputItems{
        width: 76%;
        height: 100%;
        margin: 0% auto;
    }
    .input-field{
     width:100%;
     height: 35%;
     
    }
    .input-button{
        margin-top:1.5%;
        width:20%;
        

    }
    .pokemon1{
     width:29%;
    }
    .pokemon2{
        width:30%;
    }
    .pokemon3{
        width:29%;
    }
   
    .mobile_BottomGameplay{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: space-evenly;
        -webkit-justify-content: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        background-color: rgb(43,68,140);
        opacity: 0.8;
        text-align: center;
        height: 17.45%;
      
        width: 100%;
    }
    .NameGame{
        left:0%;
        height: 100%;
    }
    .LeftGamePly{
        position: relative;
        height: 27.5%;
        width: 100%;
        background-color: rgb(43,68,140);
        opacity: 0.8;
    }
    .BottomGameplay{
        display: none;
    }
    .gameArea {
        position: relative;
       
        width: 100%;
        height: 55%;
        overflow: visible;
        margin:auto;
       
       
    }
    .content{
        position: relative;
        width: 100%;
        height: 100%;
    }
    .cards{
        margin: 0% 0.45%;
        height: 31%;
        width: 15.7%;
    
    }
    .backCardBlue {
        border: 5px solid rgb(16,58,144);
    background-color: rgb(0,0,0);
    opacity: 0.9;
    -webkit-box-shadow: 0px 0px 20px rgb(16,58,144);
            box-shadow: 0px 0px 20px rgb(16,58,144);
    }
    .backCardRed {
        border: 5px solid rgb(204,0,0);
        background-color: rgb(0,0,0);
        opacity: 0.9;
        -webkit-box-shadow: 0px 0px 20px rgb(204,0,0);
                box-shadow: 0px 0px 20px rgb(204,0,0);
    }
    
    .stats{
        font-size: 1.9vh;
    }
    .centerPokemonImg{
    bottom: 0;
    }
    .Player1,.Player2{
        height: 80%;
        margin-left:3%;
    }
   
    .pokemonAnimation1, .pokemonAnimation2{
        height: 55%;
    }
    .health{
        margin-bottom: 0;
    }
    .modalPokemon1 {
        height: 100%;
    }
    .modalPokemon2 {
        height: 100%;
    }
    .modalPokemon3 {
        height: 100%;
    }
    .mobile_accuracyDiv{
        font-size: 2.2vh;
    }
    .reset{
        font-size: .375rem;
    }
    .toggleSound{
        font-size: .375rem;
    }
    .mobile_buttonReset{
        display: inline-block;
    }
   .landscape{
      display: none;
    }
    .Peak{
        width:20%;
    }
    .GameTitle{
        height: 20%;
    }
    .Gameplayed{
        margin-bottom: -3.5vh;
    }
    #btn-resize{
        font-size: 1.5vh;
    padding: .5vh 1.4vh;
    }
    .sneakPeak{
        margin: 0 auto;
    }
   

}
@media only screen and (max-width: 380px) {
.stats{
    font-size: 1.54vh;

   }
   .input-button{
       height: 45%;
       margin: 3% auto 0%;
       width: 20%;
   }
   .input-field{
       height: 30%;
   }
   .playerinput{
       height: 30%;
   }
   .pokemon1,.pokemon2,.pokemon3{
       width: 28%;
   }
   .nameContainer {
    height: 25%;
}
   .modalName {
    width: 100%;
   }
    
   

   
}   
@media only screen and (max-width: 380px) and (max-height:380px) {
    .direction {
        font-size: 2.7vh;
    }
    .modal_text {
        font-size: 3.5vh;
       
    }
    .playerinput {
        height: 35%;
    }
       
    
       
    }   

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS */
    .pokemon-row{
        height: inherit;
    }
    
 }